img {
    width: 320px;
    height: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

mat-card {
    margin-left: 32px;
    margin-bottom: 5px;
    padding: 16px;
    overflow: auto;
}

mat-card-content {
    text-align: justify;
    text-justify: inter-word;
}

p, li {
    font-size: 16px;
}

mat-card-subtitle {
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    mat-card {
      width: 90%;
      margin: 15px;
    }
}