<mat-card class="aboutMe" [@slideIn]>
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>About Me</mat-card-title>
        </mat-card-title-group>
    </mat-card-header>
    <img mat-card-avatar src="../../assets/profilePicture.JPG" alt="Photo of Sumanth Mahabaleshwar Bhat">
    <mat-card-content>
        <p>{{aboutMeText}}</p>
        <section class="journey">
            <h2>My Journey</h2>
            <p>{{journeyText}}</p>
        </section>
        <section class="whatsetsmeapart">
            <h2>What Sets Me Apart</h2>
            <p>{{whatsetsmeapartText}}</p>
        </section>
        <section class="myapproach">
            <h2>My Approach</h2>
            <p>{{myapproachText}}</p>
        </section>
    </mat-card-content>
</mat-card>
<br>
<mat-card class="areaOfExpertise" [@slideIn]>
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>Areas of Expertise</mat-card-title>
            <mat-card-subtitle>My proficiency spans a wide array of technologies, making me a versatile developer capable of tackling challenges on all fronts. I specialize in:</mat-card-subtitle>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <ul>
            <li><strong>Full Stack Mastery: </strong>From crafting seamless user interfaces with Angular Material and Bootstrap to building robust back-end systems using .NET 6.0 Entity Core Framework and Ruby on Rails.</li>
            <li><strong>Mobile Magic: </strong>Developing cross-platform mobile applications using Flutter and MIT App Inventor that deliver exceptional user experiences.</li>
            <li><strong>Data Dynamo: </strong>Managing databases efficiently with expertise in Microsoft SQL Server, Firebase, and PostgreSQL, ensuring optimal performance and reliability.</li>
            <li><strong>Quality Assurance Expertize: </strong>Implementing comprehensive automation testing strategies using Selenium and the TestCafe framework to guarantee the highest software quality.</li>
        </ul>
        <br>
        <h2>My skills go beyond coding, extending to a toolkit of essential tools and methodologies:</h2>
        <ul>
            <li><strong>Version Control Mastery: </strong>Proficient in GitHub, ensuring seamless collaboration and version tracking.</li>
            <li><strong>Agile Advocate:  </strong>Well-versed in Agile Development methodologies, using tools like JIRA and Azure DevOps to streamline project management.</li>
            <li><strong>Web Development Whiz: </strong>Expertise in HTML, CSS, TypeScript, and JavaScript for crafting visually stunning and responsive web applications.</li>
        </ul>
        <br>
        <h2>Why Work With Me?</h2>
        <section class="workwithMe">
            <ul>
                <li><strong>Passion Personified: </strong> I don't just code, I bring concepts to life with an unwavering passion for excellence.</li>
                <li><strong>Innovation Unleashed: </strong> My commitment to staying at the forefront of technology ensures your project benefits from the latest advancements.</li>
                <li><strong>Collaboration is Key: </strong> I believe in transparent communication and collaboration, making the development process a smooth journey for everyone involved.</li>
            </ul>
        </section>
        <br>
    </mat-card-content>
</mat-card>
<br>
<mat-card class="closingMsg" [@slideIn]>
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>Reach Out</mat-card-title>
            <mat-card-subtitle><strong> Unlocking new opportunities! If you're searching for a developer who goes beyond the ordinary, you're in the right place. Let's collaborate and bring your ideas to life. <a href="https://www.linkedin.com/in/sumanth-mahabaleshwar-bhat/" target="_blank">Contact Me</a> to start our next exciting project together! Ready to create something extraordinary.</strong></mat-card-subtitle>
        </mat-card-title-group>
    </mat-card-header>
</mat-card>
<br>
<mat-card>
</mat-card>

