<div>
    <h1>Below are few of the projects that I have worked on</h1>
</div>
<div fxLayout="row wrap" fxLayoutAlign="space-around" class="projects">
    <mat-card [@slideIn]>
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Expense Tracker Mobile Application</mat-card-title>
                <mat-card-subtitle>Dec 2023</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <img src="../../assets/expenseTracker.png" alt="Picture of Dashboard of Expense Tracker Mobile Application">
        <br>
        <mat-card-content>
            <p>Built a comprehensive Expense Tracker & Budget Planner mobile app with Flutter, featuring Firebase-powered user authentication, dynamic input fields, and analytics. Integrated Firebase REST API for real-time database access and utilized Firebase Storage for profile image storage. Designed a user-friendly interface with transaction details editing capabilities.</p>
            <a href="https://github.com/Sumanth-Mahabaleshwar-Bhat/Expense-Tracker-Mobile-Application" target="_blank"> Check out Source Code for Expense Tracker Mobile Application </a>
        </mat-card-content>
    </mat-card>
    <mat-card [@slideIn]>
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Online Food Order Mobile Application</mat-card-title>
                <mat-card-subtitle>Nov 2023</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <img src="../../assets/foodOrderApplication.png" alt="Picture of List screen of Online Food Order Mobile Application">
        <br>
        <mat-card-content>
            <p>Developed a food ordering app with Menu List, Menu Detail, and Order Summary screens. Users can select food items, customize size and options, and view their order details in the Order Summary. The app calculates the total amount based on order size and quantity, with a functional 'Add to Cart' feature and a pending 'Checkout' button.</p>
            <a href="https://github.com/Sumanth-Mahabaleshwar-Bhat/Online-Food-Order-MobileApplication" target="_blank"> Check out Source Code for Online Food Order Mobile Application </a>
        </mat-card-content>
    </mat-card>
    <mat-card [@slideIn]>
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Weather Mobile Application Clone</mat-card-title>
                <mat-card-subtitle>Oct 2023</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <img src="../../assets/weatherClone.png" alt="Picture of screen of Weather Mobile Application Clone">
        <br>
        <mat-card-content>
            <p>I have created a weather application UI clone that allows users to check the current weather conditions for a specific location. The app will display the temperature, weather icon, and a brief description of the weather (e.g., "Sunny," "Cloudy," "Rainy").</p>
            <a href="https://github.com/Sumanth-Mahabaleshwar-Bhat/Weather-MobileApplication-Clone" target="_blank"> Check out Source Code for Weather Mobile Application Clone </a>
        </mat-card-content>
    </mat-card>
    <mat-card [@slideIn]>
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Expense Tracker App Inventor</mat-card-title>
                <mat-card-subtitle>Oct 2023</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <img src="../../assets/midtermProject.png" alt="Picture of screen of Expense Tracker Mobile Application App Inventor">
        <br>
        <mat-card-content>
            <p>Expense Tracker is a user-friendly mobile application designed to help individuals effectively manage their finances. With seamless Firebase user sign-up and login authentication, it provides a secure platform for users to track their income, expenses and maintain a balanced financial outlook. This application empowers users to gain insight into their financial habits, enabling them to make informed decisions about their spendings and savings. </p>
            <a href="https://github.com/Sumanth-Mahabaleshwar-Bhat/ExpenseTracker-MobileApplication-AppInventor" target="_blank"> Check out Source Code for Expense Tracker Mobile Application App Inventor </a>
        </mat-card-content>
    </mat-card>
</div>
<div fxLayout="row wrap" fxLayoutAlign="space-around" class="projects">
    <mat-card [@slideIn]>
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Space Shooter Mobile Application App Inventor</mat-card-title>
                <mat-card-subtitle>Sep 2023</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <img src="../../assets/spaceShooter.png" alt="Picture of screen of Space Shooter Mobile Application App Inventor">
        <br>
        <mat-card-content>
            <p> Created a dynamic space shooter game on App Inventor with spaceship, bullet, and asteroids. Users earn points by hitting asteroids with bullets. Accumulate 5 points to win. Tap the spaceship to initiate firing, aiming to hit asteroids. Penalties (deducting 1 point) occur if the user taps an asteroid instead. The game concludes with a "GAME OVER" notification after reaching 5 points. Reset for a new game by tapping "Reset Game," allowing rotation for versatile gameplay. </p>
            <a href="https://github.com/Sumanth-Mahabaleshwar-Bhat/Space-Shooter-MobileApplication" target="_blank"> Check out Source Code for Space Shooter Mobile Application App Inventor </a>
        </mat-card-content>
    </mat-card>
    <mat-card [@slideIn]>
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Instagram Rails Web Application</mat-card-title>
                <mat-card-subtitle>April 2022</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <img src="../../assets/railsWebApplication.png" alt="Picture of screen of Instagram Rails Web Application">
        <br>
        <mat-card-content>
            <p>My Final project for Prototyping Web and Mobile Applications is based on Instagram Web application. In the Instagram web application the user will be able to post along with captions. Comments can be added to the uploaded post. The user can also create a user profile by uploading their image and bio</p>
            <a href="https://github.com/Sumanth-Mahabaleshwar-Bhat/Instagram-WebApplication-RubyOnRailsProject" target="_blank"> Check out Source Code for Instagram Rails Web Application </a>
        </mat-card-content>
    </mat-card>
    <mat-card [@slideIn]>
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Static Responsive Personal Blog</mat-card-title>
                <mat-card-subtitle>Jan 2022</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <img src="../../assets/personalBlog.png" alt="Picture of screen of Static Responsive Personal Blog">
        <br>
        <mat-card-content>
            <p>This assignment entails creating a static responsive website using HTML and CSS. While the design and content can be personalized, the primary objective is to match the provided screenshot, ensuring adherence to functional requirements.</p>
            <a href="https://github.com/Sumanth-Mahabaleshwar-Bhat/RubyOnRails_Winter2022_Assignment1" target="_blank"> Check out Source Code for Static Responsive Personal Blog </a>
        </mat-card-content>
    </mat-card>
    <mat-card [@slideIn]>
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Rails Basics Rick & Morty Web application</mat-card-title>
                <mat-card-subtitle>Feb 2022</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <img src="../../assets/railsBasic.png" alt="Picture of screen of Rails Basics Rick & Morty Web application">
        <br>
        <mat-card-content>
            <p>The web application is based on Cartoon Rick and Morty series and the index page displays the characters of the Rick and Morty series. The index page is filtered with search term by name of the character i.e "rick" by default. When clicked on "More Details" link the user is navigated to the details page where more information about the selected character will be displayed.</p>
            <a href="https://github.com/Sumanth-Mahabaleshwar-Bhat/RubyOnRails_Winter2022_Assignment3" target="_blank"> Check out Source Code for Rails Basics Rick & Morty Web application </a>
        </mat-card-content>
    </mat-card>
</div>
<div fxLayout="row wrap" fxLayoutAlign="space-around" class="projects">
    <mat-card [@slideIn]>
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Trade-off between Overfitting and Underfitting</mat-card-title>
                <mat-card-subtitle>Jan 2022</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <p>Comparing several regression models to illustrate the trade-off between overfitting and underfitting for Assignment 1.</p>
            <a href="https://github.com/Sumanth-Mahabaleshwar-Bhat/SpecialTopicsML-Winter2022/blob/main/Sumanth_Mahabaleshwar_Bhat_Assignment_1_Updated.ipynb" target="_blank"> Check out Source Code for Assignment 1 - Trade-off between Overfitting and Underfitting </a>
        </mat-card-content>
    </mat-card>
    <mat-card [@slideIn]>
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Linear Regression, Basis Expansion and Feature Selection</mat-card-title>
                <mat-card-subtitle>Feb 2022</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <p>Experiment with linear regression, basis expansion and feature selection for Assignment 2.</p>
            <a href="https://github.com/Sumanth-Mahabaleshwar-Bhat/SpecialTopicsML-Winter2022/blob/main/Sumanth_Mahabaleshwar_Bhat_Assignment_2.ipynb" target="_blank"> Check out Source Code for Assignment 2 - Linear Regression, Basis Expansion and Feature Selection </a>
        </mat-card-content>
    </mat-card>
    <mat-card [@slideIn]>
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Binary Classification with Logistic Regression and k-Nearest Neighbours</mat-card-title>
                <mat-card-subtitle>Feb 2022</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <p>Experiment with logistic regression and k-nearest neighbours for binary classification for Assignment 3.</p>
            <a href="https://github.com/Sumanth-Mahabaleshwar-Bhat/SpecialTopicsML-Winter2022/blob/main/Sumanth_Mahabaleshwar_Bhat_Assignment_3.ipynb" target="_blank"> Check out Source Code for Assignment 3 - Binary Classification with Logistic Regression and k-Nearest Neighbours </a>
        </mat-card-content>
    </mat-card>
    <mat-card [@slideIn]>
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Neural Network Classifiers with One and Two Hidden Layers</mat-card-title>
                <mat-card-subtitle>March 2022</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <p>Built neural network classifiers with one and two hidden layers for binary classification for Assignment 4.</p>
            <a href="https://github.com/Sumanth-Mahabaleshwar-Bhat/SpecialTopicsML-Winter2022/blob/main/Sumanth_Mahabaleshwar_Bhat_Assignment_4.ipynb" target="_blank"> Check out Source Code for Assignment 4 - Neural Network Classifiers with One and Two Hidden Layers </a>
        </mat-card-content>
    </mat-card>
</div>
<div fxLayout="row wrap" fxLayoutAlign="space-around" class="projects">
    <mat-card [@slideIn]>
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Fake News Detection</mat-card-title>
                <mat-card-subtitle>April 2022</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <p>After the exploration of few research papers on Fake News Detection process I tried to experiment
                Fake News Detection using Kaggle Dataset. There are two files ”True.csv” and ”False.csv”,
                one for real news and one for fake news (both in English) with a total of 23,481 ”fake” tweets
                and 21,417 ”real” articles. I experimented with the evaluation metrics of different ML classifier methods </p>
            <a href="https://github.com/Sumanth-Mahabaleshwar-Bhat/SpecialTopicsML-Winter2022/blob/main/Fake_News_Detection.ipynb" target="_blank"> Check out Source Code for Fake News Detection </a>
        </mat-card-content>
    </mat-card>
    <mat-card [@slideIn]>
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Mean, Covariance of Multivariate Data</mat-card-title>
                <mat-card-subtitle>May 2022</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <p>This assignment involves calculating mean and covariance matrices for datasets, comparing results with generated parameters, and gaining insights into geometric changes through 2D scatter plots. It enhances skills in data visualization, analysis, and understanding covariance matrix properties. Additionally, it explores methods to create matrices for specific transformations, contributing to statistical modeling expertise. </p>
            <a href="https://github.com/Sumanth-Mahabaleshwar-Bhat/AI-ML-Summer2022/blob/main/Sumanth_Mahabaleshwar_Bhat_AI_ML_Assignment_1.ipynb" target="_blank"> Check out Source Code for Assignment 1 - Mean, Covariance of Multivariate Data </a>
        </mat-card-content>
    </mat-card>
    <mat-card [@slideIn]>
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Feature Selection</mat-card-title>
                <mat-card-subtitle>Jun 2022</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <p>This assignment involves generating multidimensional datasets, applying PCA for dimensionality reduction, and comparing results with backward search. The analysis includes reconstructing original data, calculating mean square error, and assessing classification errors using PCA scores and Fisher's Linear Discriminant. The qualitative comparison between PCA-based and backward search-based dimensionality reduction methods provides insights into their effectiveness for classification tasks. </p>
            <a href="https://github.com/Sumanth-Mahabaleshwar-Bhat/AI-ML-Summer2022/blob/main/Assignment_2_Feature_Selection.ipynb" target="_blank"> Check out Source Code for Assignment 2 - Feature Selection </a>
        </mat-card-content>
    </mat-card>
    <mat-card [@slideIn]>
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Course Project: Comparing Feature Extraction Approaches</mat-card-title>
                <mat-card-subtitle>Jun 2022</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <p>The project involved applying PCA and Feature Selection to a dataset using Logistic Regression and Decision Tree classifiers. PCA was employed to identify the optimal number of principal components, while Feature Selection used a backward search strategy to select the best features. The models were developed for various dimensions and features, assessing overfitting based on accuracies. Results indicated that Feature Selection outperformed PCA for both classifiers, highlighting its effectiveness in retaining relevant information while reducing dimensionality. The project showcased the advantages of Feature Selection in considering accuracy and the target variable, surpassing PCA in certain aspects. </p>
            <a href="https://github.com/Sumanth-Mahabaleshwar-Bhat/AI-ML-Summer2022/blob/main/AI_ML_CourseProject.ipynb" target="_blank"> Check out Source Code for Course Project Comparing Feature Extraction Approaches </a>
        </mat-card-content>
    </mat-card>
</div>
<div fxLayout="row wrap" fxLayoutAlign="space-around" class="projects">
    <mat-card [@slideIn]>
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>K Nearest Neighbors Classification</mat-card-title>
                <mat-card-subtitle>July 2022</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <p>The assignment evaluates k nearest neighbor classification in diverse contexts, including university classification and medical data analysis, with a focus on understanding the impact of different k values on classification accuracy. </p>
            <a href="https://github.com/Sumanth-Mahabaleshwar-Bhat/ML-Classification-Summer2022/blob/main/SEP787_Assignment1.ipynb" target="_blank"> Check out Source Code for Assignment 1 – K Nearest Neighbors Classification </a>
        </mat-card-content>
    </mat-card>
    <mat-card [@slideIn]>
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Course Project Comparing Classifiers</mat-card-title>
                <mat-card-subtitle>Aug 2022</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <p>The project aims to employ various classification methods, including Naïve Bayes, KNN, AdaBoost, and SVM, for classifying pulsar candidates from the High Time Resolution Universe Survey (South). The focus is on comparing computational times for training and testing, utilizing cross-validation for parameter selection, plotting and comparing ROC curves, and generating confusion matrices for each classifier. The objective is to assess the performance and efficiency of different classification algorithms on the pulsar candidate dataset. </p>
            <a href="https://github.com/Sumanth-Mahabaleshwar-Bhat/ML-Classification-Summer2022/blob/main/SEP_787_Course_Project_Neelanjan_Goswami%2C_Sumanth_Bhat.ipynb" target="_blank"> Check out Source Code for Assignment 1 – K Nearest Neighbors Classification </a>
        </mat-card-content>
    </mat-card>
</div>