<mat-card [@slideIn]>
    <mat-card-content>
        <section class="summary">
            <div class="summary-container">
                <mat-icon class="material-symbols-outlined">summarize</mat-icon>
                <h2>Professional Summary</h2>
            </div>
            <mat-divider></mat-divider>
            <br>
            <p>Results-driven Electrical & Computer Engineering Master’s graduate from McMaster University with over 2+ years of
                experience in Software Web Development and Automation Testing. Proficient in
                .NET 6.0 Entity Core Framework, Angular Material, REST API Development, Python, Java programming and Database
                Management.</p>
        </section>
        <br>
        <section class="skills">
            <div class="skills-container">
                <mat-icon class="skills">code</mat-icon>
                <h2>Skills</h2>
            </div>
            <mat-divider></mat-divider>
            <br>
            <h3>Programming Languages:</h3>
            <mat-chip-set
                class="example-chip"
                cdkDropList
                cdkDropListOrientation="horizontal"
                (cdkDropListDropped)="drop($event)">
                @for (skill of skills; track skills) {
                    <mat-chip class="example-box" cdkDrag>{{skill.name}}</mat-chip>
                }
            </mat-chip-set>
            <br>
            <h3>Front-End Development:</h3>
            <mat-chip-set
                class="example-chip"
                cdkDropList
                cdkDropListOrientation="horizontal"
                (cdkDropListDropped)="drop($event)">
                @for (ui of frontEndSkills; track frontEndSkills) {
                    <mat-chip class="example-box" cdkDrag>{{ui.name}}</mat-chip>
                }
            </mat-chip-set>
            <br>
            <h3>Back-End Development:</h3>
            <mat-chip-set
                class="example-chip"
                cdkDropList
                cdkDropListOrientation="horizontal"
                (cdkDropListDropped)="drop($event)">
                @for (backend of backEndSkills; track backEndSkills) {
                    <mat-chip class="example-box" cdkDrag>{{backend.name}}</mat-chip>
                }
            </mat-chip-set>
            <br>
            <h3>Database Management:</h3>
            <mat-chip-set
                class="example-chip"
                cdkDropList
                cdkDropListOrientation="horizontal"
                (cdkDropListDropped)="drop($event)">
                @for (db of dbSkills; track dbSkills) {
                    <mat-chip class="example-box" cdkDrag>{{db.name}}</mat-chip>
                }
            </mat-chip-set>
            <br>
            <h3>Mobile Development:</h3>
            <mat-chip-set
                class="example-chip"
                cdkDropList
                cdkDropListOrientation="horizontal"
                (cdkDropListDropped)="drop($event)">
                @for (mobile of mobDevSkills; track mobDevSkills) {
                    <mat-chip class="example-box" cdkDrag>{{mobile.name}}</mat-chip>
                }
            </mat-chip-set>
            <br>
            <h3>Automation Testing:</h3>
            <mat-chip-set
                class="example-chip"
                cdkDropList
                cdkDropListOrientation="horizontal"
                (cdkDropListDropped)="drop($event)">
                @for (testing of automationSkills; track automationSkills) {
                    <mat-chip class="example-box" cdkDrag>{{testing.name}}</mat-chip>
                }
            </mat-chip-set>
            <br>
            <h3>Tools & Other Skills:</h3>
            <mat-chip-set
                class="example-chip"
                cdkDropList
                cdkDropListOrientation="horizontal"
                (cdkDropListDropped)="drop($event)">
                @for (tools of otherSkills; track otherSkills) {
                    <mat-chip class="example-box" cdkDrag>{{tools.name}}</mat-chip>
                }
            </mat-chip-set>
            <br>
            <h3>Soft Skills:</h3>
            <mat-chip-set
                class="example-chip"
                cdkDropList
                cdkDropListOrientation="horizontal"
                (cdkDropListDropped)="drop($event)">
                @for (soft of softSkills; track softSkills) {
                    <mat-chip class="example-box" cdkDrag>{{soft.name}}</mat-chip>
                }
            </mat-chip-set>
            <br>
        </section>
        <br>
        <section class="experience">
            <div class="experience-container">
                <mat-icon class="work">work</mat-icon>
                <h2>Professional Experience</h2>
            </div>
            <mat-divider></mat-divider>
            <br>
            <mat-accordion class="expansion-headers">
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Full Stack Software Developer (Contractor)</mat-panel-title>
                        <mat-panel-description>ArcelorMittal Dofasco, Hamilton, ON, Canada (Sep 2023 - Dec 2023)</mat-panel-description>
                    </mat-expansion-panel-header>
                    <ul>
                        <li>Orchestrated a 30% reduction in development time, seamlessly migrating data from Microsoft Access to Microsoft SQL Server using Python, and subsequently accelerating project delivery speed by 20%.</li>
                        <li>Led the successful modernization of a legacy Microsoft Access application to a robust Angular 12, .NET 6.0 Entity Core Framework, and Microsoft SQL Server Full stack web application.</li>
                        <li>Significantly enhanced application speed by optimizing database queries with 40% improvement in query execution time. This initiative resulted in a significant performance improvement, contributing to a 25% increase in user satisfaction.</li>
                        <li>Spearheaded the development of a comprehensive REST API design for seamless CRUD operations across all application modules, further amplifying system efficiency and functionality.</li>
                        <li>Demonstrated proficiency in modern UI technologies, ensuring a seamless user experience and showcasing a commitment to delivering high quality solutions. Elevated project functionality through feature development and meticulous bug fixes across all modules using Angular Material.</li>
                        <li>Conducted comprehensive regression testing, meticulously capturing edge scenarios and promptly resolving numerous bugs. This proactive approach expedited the deployment of the project to production, ensuring a seamless handover to the business team.</li>
                    </ul>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Full Stack Software Developer Co-op</mat-panel-title>
                        <mat-panel-description>ArcelorMittal Dofasco, Hamilton, ON, Canada (Sep 2022 - Aug 2023)</mat-panel-description>
                    </mat-expansion-panel-header>
                    <ul>
                        <li>Orchestrated a 30% reduction in development time, seamlessly migrating data from Microsoft Access to Microsoft SQL Server using Python, and subsequently accelerating project delivery speed by 20%.</li>
                        <li>Led the successful modernization of a legacy Microsoft Access application to a robust Angular 12, .NET 6.0 Entity Core Framework, and Microsoft SQL Server Full stack web application.</li>
                        <li>Significantly enhanced application speed by optimizing database queries with 40% improvement in query execution time. This initiative resulted in a significant performance improvement, contributing to a 25% increase in user satisfaction.</li>
                        <li>Spearheaded the development of a comprehensive REST API design for seamless CRUD operations across all application modules, further amplifying system efficiency and functionality.</li>
                        <li>Demonstrated proficiency in modern UI technologies, ensuring a seamless user experience and showcasing a commitment to delivering high quality solutions. Elevated project functionality through feature development and meticulous bug fixes across all modules using Angular Material.</li>
                        <li>Conducted comprehensive regression testing, meticulously capturing edge scenarios and promptly resolving numerous bugs. This proactive approach expedited the deployment of the project to production, ensuring a seamless handover to the business team.</li>
                    </ul>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Developer</mat-panel-title>
                        <mat-panel-description>University Technology Services, McMaster University, Hamilton, ON, Canada (May 2022 – Sep 2022)</mat-panel-description>
                    </mat-expansion-panel-header>
                    <ul>
                        <li>Optimized intranet website engagement by developing a tailored Teams application, fostering 30K active users. Elevated university-wide engagement by facilitating seamless in-app access to Microsoft applications, promoting discovery and learning across the suite exhibiting proficiency in varied tech stacks.</li>
                        <li>Designed and implemented Microsoft Power Automate flows pivotal in crafting and improving Microsoft SharePoint pages for various projects. These flows currently play a key role in optimizing intranet website development and facilitating smooth migrations from legacy systems to Microsoft SharePoint.</li>
                    </ul>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Application Development Associate</mat-panel-title>
                        <mat-panel-description>Accenture Solutions Private Limited, Bengaluru, Karnataka, India (Jan 2021 – Dec 2021)</mat-panel-description>
                    </mat-expansion-panel-header>
                    <ul>
                        <li>Achieved a 90% automation code coverage in 6 months, optimizing testing for 1000+ Regression Test cases and garnering recognition at Accenture North America’s PINNACLE AWARDS FY21 for outstanding performance. Spearheaded unit testing and UI Automation Testing, contributing to a 20% increase in project delivery speed.</li>
                        <li>Engineered dynamic and responsive user interfaces using TypeScript within the Angular framework for UI development, ensuring seamless user experiences aligned with project objectives.</li>
                    </ul>
                </mat-expansion-panel>
            </mat-accordion>
        </section>
        <br>
        <section class="education">
            <div class="education-container">
                <mat-icon class="material-symbols-outlined">school</mat-icon>
                <h2>Education</h2>
            </div>
            <mat-divider></mat-divider>
            <br>
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Master of Engineering in Electrical and Computer Engineering</mat-panel-title>
                        <mat-panel-description>McMaster University, Hamilton, ON, Canada (Jan 2022 – Jan 2024)</mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>Recognized with 10.75/12 GPA with A+ grades for Prototyping Tools (Mobile Application) using Flutter and MIT
                        App Inventor, as well as Prototyping Web Mobile Applications using Ruby on Rails courses and MEng Project on
                        Artificial Neural Networks based Smart Biosensors for Chronic Diseases.</p>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Bachelor of Engineering in Electronics & Communication Engineering</mat-panel-title>
                        <mat-panel-description>Visvesvaraya Technological University, Bengaluru, Karnataka, India (Aug 2016 - Aug 2020)</mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>Recognized with 8.38/10 GPA and the Relevant coursework includes Programming in C & Data Structures, Analog & Digital Electronics, Microprocessor, Signals
                        & Systems, Digital Signal Processing, MSP430 Microcontroller, Object Oriented Programming using C++, ARM Microcontroller
                        & Embedded Systems, Python Application Programming</p>
                </mat-expansion-panel>
            </mat-accordion>
        </section>
    </mat-card-content>
</mat-card>